
$font-stack:    Helvetica, sans-serif;
$primary-color: #000;

html, body, .container-fluid {
    height:100%;
}

.sidebar {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  background-color: lightskyblue;
  border: 1px solid black;
}

ul li {
  flex: 1;
}
