#contact {
  background: #fff;
}
#contact form {
  margin-top: 40px;
}
.contact form input,
.contact form textarea {
  margin-top: 20px;
}
.contact.row {
  position: absolute;
  top: 100px;
  left: 100px; }
