#contact {
  background: #000000;
}
#contact form {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.contact form input,
.contact form textarea {
  margin-top: 20px;
}

#Site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
