#logo-video{

height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
position: fixed; // optional depending on what you want

}

/*General layout styling for each main component*/
#about {
	border: 2px solid black;
	margin: 5em;
	background-color: black;
}

.nav-style {
	background: black;
}
.nav-link {
	color: white;
}

/* Nav bar styling */
.nav-item {
	padding-right: 1.5em;
}
.nav-link {
	font: white;
}
.navbar {
	background: transparent;
	padding: 2em;
}
.icon-bar {
	color: white;
	background: black;
}

/* Partners */
.partner-content {
	padding-bottom: 5em;
}

.partner-img {
	padding-bottom: 1em;
}