.press {
	width: 100%;
}

.pressPdf {
	position: relative;
	width: 300px;
	float: left;
	margin: 10px;
}

.pressImg {
	width: 275px;
	display: inline-block;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	// text-align: center;
}

.pressImg:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

span.enlarge {
	position: absolute;
	left: 20%;
	bottom: -35px;
	opacity: 0;
	text-align: center;
}

.pressPdf:hover span.enlarge {
	color: white;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.modal-body {
	padding: 0;
}

.modal-content {
	background-color: black;
}

.modal-header {
	color: white;
	text-align: center;
	background-color: black;
}