
body, html {
  height: 100%;
  background-color: black;
  padding-top: 70px;
}

.navbar navbar-fixed-top {
  background-color: transparent;
}

<<<<<<< HEAD
 .nav-item {
   color: white;
   font-family: 'Keania One';


 }

=======
li.nav-item {
  float: left;
}
>>>>>>> dca426d822df1628247bea62fedda5cdc85953e8
